@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #222;
  background: #fff;
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: none;
  all: unset;
}

a:visited a:focus {
  color: none;
  all: unset;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #222;
  background: #fff;
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: none;
  all: unset;
}

a:visited a:focus {
  color: none;
  all: unset;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #222;
  background: #fff;
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: none;
  all: unset;
}

a:visited a:focus {
  color: none;
  all: unset;
}

.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  background: rgba(240, 157, 81, 0.5);
  z-index: 2;
}

.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  z-index: 3;
  background: #e7e2dd;
  padding: 1.5rem;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.showCart {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.transparentBcg {
  visibility: visible;
}

@media screen and (min-width: 768px) {
  .cart {
    width: 30vw;
    min-width: 450px;
  }
}

.close-cart {
  font-size: 1.7rem;
  cursor: pointer;
}

.cart h2 {
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 0.1rem;
  margin-bottom: 2rem;
}

.cart-item {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: auto 1fr auto;
      grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
}

.cart-item img {
  width: 75px;
  height: 75px;
}

.cart-item h4 {
  font-size: 0.85rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
}

.cart-item h5 {
  margin: 0.5rem 0;
  letter-spacing: 0.1rem;
}

.item-amount {
  text-align: center;
}

.remove-item {
  color: grey;
  cursor: pointer;
}

.fa-chevron-up,
.fa-chevron-down {
  color: #f09d51;
  cursor: pointer;
}

.cart-footer {
  margin-top: 2rem;
  letter-spacing: 0.1rem;
  text-align: center;
}

.cart-footer h3 {
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.show-response {
  display: block;
}

.mask-response {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #222;
  background: #fff;
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: none;
  all: unset;
}

a:visited a:focus {
  color: none;
  all: unset;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 60px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #e7e2dd;
  z-index: 1;
}

.navbar-center {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1.5rem;
}

.nav-icon {
  font-size: 1.5rem;
}

.nav-img {
  width: 300px;
}

.cart-btn {
  position: relative;
  cursor: pointer;
}

.cart-items {
  position: absolute;
  top: -8px;
  right: -8px;
  background: #f09d51;
  padding: 0 5px;
  border-radius: 30%;
  color: #fff;
}

.product-container {
  min-height: calc(100vh - 60px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 80px 40px 40px 40px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
}

.product-img {
  margin-right: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-img__single {
  max-height: 437px;
}

.product-details {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product-details__title {
  font-size: 30px;
  margin-bottom: 20px;
}

.product-details__description {
  font-size: 18px;
  margin-bottom: 20px;
}

.product-details__price {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 50px;
}

.prix {
  font-weight: 400;
}

#select {
  margin-left: 10px;
  font-size: 20px;
  border-radius: 22px;
  border: 2px solid #f09d51;
  padding: 6px;
}

#select:focus {
  text-decoration: none;
}

.addToCart {
  padding: 1rem 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  background: #f09d51;
  color: #222;
  border: 1px solid #f09d51;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  cursor: pointer;
}

.addToCart:hover {
  background-color: transparent;
  color: #f09d51;
}

#productQty {
  color: #222;
  border: 1px solid #e7e2dd;
  padding: 0.6rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}

#customSelection {
  color: #222;
  border: 1px solid #e7e2dd;
  padding: 0.6rem;
  font-size: 1rem;
  margin-bottom: 1.3rem;
  cursor: pointer;
}

label {
  font-size: 18px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #222;
  background: #fff;
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: none;
  all: unset;
}

a:visited a:focus {
  color: none;
  all: unset;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 60px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #e7e2dd;
  z-index: 1;
}

.navbar-center {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1.5rem;
}

.nav-icon {
  font-size: 1.5rem;
}

.nav-img {
  width: 300px;
}

.cart-btn {
  position: relative;
  cursor: pointer;
}

.cart-items {
  position: absolute;
  top: -8px;
  right: -8px;
  background: #f09d51;
  padding: 0 5px;
  border-radius: 30%;
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #222;
  background: #fff;
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: none;
  all: unset;
}

a:visited a:focus {
  color: none;
  all: unset;
}

.hero {
  min-height: calc(100vh - 60px);
  background: url("/Images-Perso/hero-bcg.jpeg") center/cover no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner {
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  display: inline-block;
  padding: 2rem;
}

.banner-title {
  font-size: 3.4rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-bottom: 3rem;
}

.banner-btn {
  padding: 1rem 3rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  background: #f09d51;
  color: #222;
  border: 1px solid #f09d51;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  cursor: pointer;
}

.banner-btn:hover {
  background: transparent;
  color: #f09d51;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #222;
  background: #fff;
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: none;
  all: unset;
}

a:visited a:focus {
  color: none;
  all: unset;
}

.products {
  padding: 4rem 0;
}

.section-title h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 5rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
}

.products-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(260px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
}

.img-container {
  position: relative;
  overflow: hidden;
}

.bag-btn {
  position: absolute;
  top: 70%;
  right: 0;
  background: #f09d51;
  border: none;
  text-transform: uppercase;
  padding: 0.5rem 0.75rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-transform: translateX(101%);
          transform: translateX(101%);
  cursor: pointer;
}

.bag-btn:hover {
  color: #fff;
}

.fa-shopping-cart {
  margin-right: 0.5rem;
}

.img-container:hover .bag-btn {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.product-img {
  display: block;
  width: 100%;
  min-height: 12rem;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.img-container:hover .product-img {
  opacity: 0.5;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product h3 {
  text-transform: capitalize;
  font-size: 1.1rem;
  margin-top: 1rem;
  letter-spacing: 0.1rem;
  text-align: center;
}

.product h4 {
  margin-top: 0.7rem;
  letter-spacing: 0.1rem;
  color: #f09d51;
  text-align: center;
  margin-bottom: 12px;
}

.more-info {
  padding: 1rem 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  background: #f09d51;
  color: #222;
  border: 1px solid #f09d51;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  cursor: pointer;
}

.more-info:hover {
  background-color: transparent;
  color: #f09d51;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #222;
  background: #fff;
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: none;
  all: unset;
}

a:visited a:focus {
  color: none;
  all: unset;
}

footer {
  background: #e7e2dd;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
}

.footer-link {
  color: #222;
  padding-bottom: 0.1rem;
  font-size: 20px;
}

.footer-link:hover {
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #222;
  background: #fff;
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: none;
  all: unset;
}

a:visited a:focus {
  color: none;
  all: unset;
}

.shopping-cart {
  margin: 80px 40px 40px 40px;
  background: #ffffff;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.title__cart {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  border-bottom: 1px solid #e1e8ee;
  text-align: center;
  color: #222;
  padding-bottom: 30px;
}

.cart-item {
  padding: 20px 15px;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #e1e8ee;
  border-radius: 12px;
  margin-left: 40px;
  margin-right: 40px;
}

.bouton {
  position: relative;
}

.bouton:hover {
  color: #f09d51;
}

.btn-remove {
  all: unset;
  margin-left: 6px;
  cursor: pointer;
  font-size: 20px;
}

.btn-remove:hover {
  color: #f09d51;
}

.cart-thumbnail img {
  -o-object-fit: cover;
     object-fit: cover;
}

.cart-description {
  padding-top: 10px;
  width: 150px;
}

.cart-description h4 {
  font-size: 16px;
}

.cart-description span {
  display: block;
  font-size: 14px;
  color: #9fa2a5;
}

.cart-subtotal {
  color: #8f9194;
}

.cart-quantity {
  padding: 12px;
  border: 1px solid #e1e8ee;
  border-radius: 12px;
}

.cart-quantity input {
  text-decoration: none;
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484d;
  font-weight: 300;
}

.bouton {
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
}

.minus-btn {
  margin-bottom: 3px;
}

.plus-btn {
  margin-top: 2px;
}

.cart-total {
  width: 90px;
  text-align: center;
  font-size: 16px;
  color: #43484d;
  font-weight: 300;
}

.customer-info {
  margin: 40px;
  background-color: rgba(236, 236, 236, 0.32);
  padding: 20px;
  border-radius: 12px;
}

.customer-info_title {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 6px;
  text-align: center;
}

.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

label {
  line-height: 2;
  font-size: 15px;
  width: 100px;
}

.entry {
  width: 50%;
  border-radius: 0.375em;
  border: 1px solid #c4c4c4;
}

.required {
  color: red;
  font-weight: 700;
  border: 0;
  text-decoration: none;
}

.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1rem;
}

.form-group:nth-of-type(1) {
  margin-top: 30px;
}

.form-group_confirm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
}

::-webkit-input-placeholder {
  font-style: italic;
  opacity: 0.4;
}

:-ms-input-placeholder {
  font-style: italic;
  opacity: 0.4;
}

::-ms-input-placeholder {
  font-style: italic;
  opacity: 0.4;
}

::placeholder {
  font-style: italic;
  opacity: 0.4;
}

.form-group input {
  padding: 6px;
}

.order-button {
  padding: 1rem 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  background: #f09d51;
  color: #222;
  border: 1px solid #f09d51;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  cursor: pointer;
}

.order-button:hover {
  background-color: transparent;
  color: #f09d51;
}

.prixTotal-container {
  margin: 40px;
  border: 1px solid #e1e8ee;
  border-radius: 12px;
  padding: 20px;
}

#prixTotal {
  margin-right: 20px;
  font-size: 22px;
  text-align: right;
}

.empty-cart_text {
  text-align: center;
  font-size: 18px;
  color: #c4c4c4;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #222;
  background: #fff;
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: none;
  all: unset;
}

a:visited a:focus {
  color: none;
  all: unset;
}

.title-confirmation h2 {
  margin: 40px;
  text-align: center;
}

.confirmation-container {
  margin: 40px;
  text-align: center;
  line-height: 2rem;
}

.order-confirmed-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
/*# sourceMappingURL=styles.css.map */