@import "./variables";

.product-container {
  min-height: calc(100vh - 60px);
  display: grid;
  margin: 20px;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 50px;
  grid-template-areas:
    "img title"
    "img description"
    "img varnish"
    "img price"
    "img cart";
}

.product-img {
  margin-right: 20px;

  &__single {
    max-height: 350px;
  }
}

.product-details {
  /* width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column; */

  &__title {
    grid-area: title;
  }

  &__description {
    grid-area: description;
  }

  &__varnish {
    grid-area: varnish;
  }

  &__price {
    grid-area: price;
  }
}

.addToCart {
  grid-area: cart;
}
