@import "./variables";

.title-confirmation {
  & h2 {
    margin: 40px;
    text-align: center;
  }
}

.confirmation-container {
  margin: 40px;
  text-align: center;
  line-height: 2rem;
}

.order-confirmed-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#orderNum {
  font-weight: 600;
}
