@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

// Couleurs Générales + Transitions et espacements

$primaryColor: #f09d51;
$mainWhite: #fff;
$mainBlack: #222;
$mainGrey: #ececec;
$mainSpacing: 0.1rem;
$mainTransition: all 0.3s linear;

// Suppression de tous les margin + padding

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: $mainBlack;
  background: $mainWhite;
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: none;
}

a:visited {
  color: none;
}

@mixin btn-style {
  padding: 1rem 1.5rem;
  text-transform: uppercase;
  letter-spacing: $mainSpacing;
  font-size: 1rem;
  background: $primaryColor;
  color: $mainBlack;
  border: 1px solid $primaryColor;
  transition: $mainTransition;
  cursor: pointer;
}

@mixin btn-style-hover {
  background-color: transparent;
  color: $primaryColor;
}
